/* 
    CSS
    - Cascading Style Sheets
    - Used to style HTML elements
*/

/* Selectors */
/* Element Selector */
h1 {
    color: teal;
  }
  h2 {
    color: teal;
  }
  h3 {
    color: rgb(128, 203, 196);
  }
  
  /* Class Selector */
  #blue {
    background-color: rgb(72, 255, 0);
  }
  /* 
  ID Selector */
  .teal {
    background-color: rgb(134, 227, 214);
  }
  
  .static 
  {
    position: static;
    border: 3px;
  }
  
  .relative 
  {
    position: relative;
    left: 20px;
    border: 3px;
  }
  
  .fixed
  {
    position: fixed;
    bottom: 2px;
    right: 20px;
    width: 60px;
    border: 3px solid #73AD21;
  }
  
  .absolute
  {
    position: absolute;
    top: 200px;
    left: 80px;
    width: 3px;
    height: 20px;
  }
  
  .sticky
  {
    position: -webkit-sticky;
    position: sticky;
    top: 5px;
    background-color: rgb(241, 254, 191);
    border: 2px solid #641fb2;
  }
  
  